/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* Global colors */
  --global-color-back: #83b7f1;
  --global-color-front: white;
  --global-color-title: black;
  --global-color-maxTemp: #d64045;
  --global-backgroundColor-light: #f2fbff;
  --global-backgroundColor-dark: #11103a;
  --table-backgroundColor-light: #fff6f2;
  --global-fontWeight-regular: 400;
  --global-fontWeight-medium: 500;

  /* global page settings */
  --global-html-color: var(--global-color-front);
  --global-html-fontSize: 2rem;
  --global-html-smallfontSize: 1.6rem;
  --global-html-padding: 2rem;
  --global-html-gap: 2rem;
  --global-html-backgroundColor: var(--global-color-back);
  --global-weather-backgroundColor: var(--global-backgroundColor-light);

  /* Border settings */
  --global-border-radius: 2rem;
  /* baseline */
  --global-baseline: calc(1rem / 2);

  --global-whitespace-sm: var(--global-baseline);
  --global-whitespace-md: calc(var(--global-baseline) * 2);
  --global-whitespace-base: calc(var(--global-baseline) * 3);
  --global-whitespace-lg: calc(var(--global-baseline) * 4);

  /* transitions */
  --global-transitionEasing-out: ease-out;
  --global-transitionEasing-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
  --global-transitionDuration-alpha: 0.1s;
  --global-transitionDuration-beta: 0.2s;
  --global-transitionDuration-gamma: 0.3s;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: grid;
  flex-direction: column;
  gap: var(--global-html-gap);
  align-items: center;
  justify-content: center;
  background-color: var(--global-color-back);
  padding: var(--global-html-padding);
  font-size: 1.6rem;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
  background: var(--global-color-back);
  color: var(--global-color-front);
  text-shadow: none;
}

::selection {
  background: var(--global-color-back);
  color: var(--global-color-front);
  text-shadow: none;
}

/*------------------------------------*\
  #Elements
  \*------------------------------------*/

/*
  Elements: Images
  ---
  Default markup for images to make them responsive
  */

/* Assign grid instructions to our parent grid container */

.grid-container {
  display: grid;
  grid-template-columns: 7fr 3fr;
}

@media screen and (max-width: 62em) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 5rem; */
    justify-content: center;
  }
  .c-dashboard__right {
    order: 1;
    border-radius: var(--global-border-radius) var(--global-border-radius) 0 0 !important;
  }
  .c-dashboard__left {
    order: 2;
    border-radius: 0 0 var(--global-border-radius) var(--global-border-radius) !important;
  }
  .c-table {
    overflow-x: scroll;
  }
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Weather dashboard
    ---
    Website dashboard 
*/

.c-weather__dashboard {
  /* height: auto; */
  border-radius: var(--global-border-radius) 0 0 var(--global-border-radius);
  background-color: var(--global-weather-backgroundColor);
  padding: var(--global-html-padding);
}
.c-weather__dashboard-title {
  font-size: 4.2rem;
  padding: 0;
  margin: 0;
}

.c-weather__dashboard-subtitle {
  font-weight: var(--global-fontWeight-medium);
  font-size: 2.4rem;
  padding: 0;
  margin: 1rem 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: auto;
  border: 0;
  background-color: #fff6f2;
}

.c-title__today {
  font-size: 3rem;
  font-weight: 400;
}

.c-day-name {
  font-weight: var(--global-fontWeight-medium);
  font-size: 1.8rem;
}
.c-rainchance {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  opacity: 1;
  justify-content: center;
  font-size: var(--global-html-fontSize);
}

.c-forecast__today--icons {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  margin: 0 auto;
}
.c-rainlist {
  display: flex;
  justify-content: space-between;
  padding: var(--global-html-padding);
  gap: var(--global-html-gap);
}

li {
  list-style-type: none;
  margin: 0 auto;
  gap: var(--global-html-gap);
}

.c-weather-type {
  max-width: 4rem;
  min-width: 4rem;
  vertical-align: center;
}

.c-dashboard__right {
  background-color: var(--global-backgroundColor-dark);
  color: var(--global-color-front);
  padding: var(--global-html-padding);
  border-radius: 0 var(--global-border-radius) var(--global-border-radius) 0;
}
.c-location-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.c-sunrise,
.c-sunset {
  font-size: var(--global-html-smallfontSize);
}
.c-forecast__city {
  font-size: var(--global-html-smallfontSize);
}
.c-forecast__today {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.c-forecast__symbol {
  max-width: 4rem;
  max-height: auto;
}
.c-forecast__date {
  /* font-size: 1.6rem; */
  font-size: var(--global-html-fontSize);
}

.c-max-temp {
  color: var(--global-color-maxTemp);
}
.c-max-temp,
.c-min-temp {
  font-size: var(--global-html-fontSize);
  font-weight: var(--global-fontWeight-medium);
}

.c-forecast__temp {
  font-size: 8rem;
  font-weight: var(--global-fontWeight-regular);
  margin: 0;
}
.c-forecast__unit {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  font-size: var(--global-html-fontSize);
}

/*
    Component: Forecast chart
*/
.c-forecast__chart {
  height: 400px;
  position: relative;
  max-width: auto;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Toggle switch
*/

/* table ****************************************/
/* Table Styles */

/* Responsive */

.c-day-name {
  font-weight: var(--global-fontWeight-medium);
  font-size: var(--global-html-fontSize) !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  background-color: var(--table-backgroundColor-light);
}

tr,
td {
  text-align: center;
  padding: 8px;
  font-size: var(--global-html-fontSize);
}

@media (max-width: 990px) {
  .c-forecast__chart {
    height: 400px;
    position: relative;
    max-width: auto;
  }
  table {
    min-width: 220%;
    overflow: visible;
    max-width: fit-content;
    table-layout: fixed;
  }
  td,
  tr {
    font-size: var(--global-html-fontSize);
    vertical-align: center;
  }
}
@media (max-width: 361px) {
  .c-forecast__chart {
    height: 300px;
    position: relative;
    max-width: auto;
  }
  table {
    min-width: 220%;
    overflow: visible;
    max-width: fit-content;
    table-layout: fixed;
  }
  td,
  tr {
    font-size: var(--global-html-fontSize);
    vertical-align: center;
  }
}
/*
    Component: Today icons
*/
.c-raindrop__icon {
  max-width: 1.6rem;
  fill: #4b95ea;
  min-height: 1rem;
}
.c-list__icon {
  min-width: 4rem;
  fill: #4b95ea;
}
.c-main__icons {
  list-style-type: none;
  margin: 0 auto;
  gap: 1rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.c-wind__icon {
  min-width: 2rem;
  fill: #fff;
}

/*toggle switch**********************/
/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.c-custom-toggle {
  --toggle-backgroundColor: var(--global-color-back);
  --toggle-checked-backgroundColor: var(--global-backgroundColor-dark);
  display: flex;
  align-items: center;
}
.c-option {
  margin-right: var(--global-whitespace-sm);
}
.c-option--hidden:checked + .c-custom-toggle {
  --toggle-backgroundColor: var(--toggle-checked-backgroundColor);
  --toggle-borderColor: var(--toggle-checked-borderColor);
  --toggle__switch-backgroundColor: var(
    --toggle__switch-checked-backgroundColor
  );
}
/*Component label *************************/
.c-label {
  margin-bottom: 0;
  font-size: var(--global-html-fontSize);
  font-weight: var(--global-fontWeight-medium);
  padding-bottom: var(--global-whitespace-sm);
  line-height: calc(var(--global-baseline) * 2);
}

.c-label--option {
  padding-bottom: 0;
}
/* span */
.c-custom-toggle__fake-input {
  display: block;
  height: 24px;
  width: 48px;
  margin-right: 1rem;
  background-color: var(--toggle-backgroundColor);
  border-radius: 32px;
  border: 1px solid var(--toggle-backgroundColor);
  transition: all var(--global-transitionDuration-alpha)
    var(--global-transitionEasing-out);
  /* box-shadow: var(--toggle-boxShadow, 0); */
}
.c-celcius {
  margin-right: 1rem;
  font-weight: var(--global-fontWeight-medium);
}
.c-custom-toggle__fake-input::after {
  position: relative;
  display: block;
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 22px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: all var(--global-transitionDuration-alpha)
    var(--global-transitionEasing-out);
}
.c-option--hidden:checked
  + .c-custom-toggle
  .c-custom-toggle__fake-input::after {
  transform: translate(24px, 0);
}
/* special active state */

.c-option--hidden:active
  + .c-custom-toggle
  .c-custom-toggle__fake-input::after {
  width: 28px;
}
.c-option--hidden:active:checked
  + .c-custom-toggle
  .c-custom-toggle__fake-input::after {
  margin-left: -6px;
}

@media (max-width: 380px) {
  .c-forecast__chart {
    height: 300px;
    position: relative;
    max-width: auto;
  }
  table {
    min-width: 220%;
    overflow: visible;
    max-width: fit-content;
    table-layout: fixed;
  }
  td,
  tr {
    font-size: var(--global-html-fontSize);
    vertical-align: center;
  }
  .c-rainlist {
    display: flex;
    justify-content: space-between;
    padding: var(--global-html-padding);
    /* gap: 2rem; */
  }
}
